* {
	margin: 0px;
	list-style: none;
}


body {
	background-image: url(/images/BG1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #23333a;
	border-bottom: 1em;
	border-color: white;
}



.GRAD {
	width: 50%;
	height: 20%;
	padding-top: 22.8%;
	padding-left: 50%;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');



html{
    width: 100%;
    height: 100%;
}


:root{
    font-size: 16px;
    font-family: "Raleway";
    --date-text-color: hsl(0, 0%, 51%);
    --title-font-weight: 800;

    /* Cards colors */
    --card-main-color : whitesmoke;
    --card-1-secondary-color: rgb(22, 62, 182);
}


.container input{
    display: none;
}

.container {
	width: 1000px;
    	height: 200px;
    	max-height: 220px;
    	position: relative;
	display: flex;
	gap: 15%;
	flex-flow: row wrap;
    	margin: auto;
    	padding: 25% 1em 1em 1em;

}

/* Card Styling */
.card-div{
	flex: 1;
    	display: flex;
    	width: 100%;
	height: 110%;
    	flex-direction: column;
    	justify-items: center;
    	align-items: center;
    	background-color: #ffffff;
    	box-sizing: border-box;
    	border-radius: 10px;
    	box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 5px 10px rgba(0,0,0,0.24);
    	transition: transform 0.7s ease-in-out;
    	margin-bottom: 10%;
}

/* ======== General styling of all cards========== */
.img-div{
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

.img-div img{
    transform-origin: bottom;
    transform: translateY(7.5%);
    transition: transform 0.3s ease-in-out
}

.math-img-div{
    background-image: url(/images/background_vert.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 10px;
}

.math-img-div img{
    width: 150%;
    transform: translateY(-25%);
}

.nsi-img-div{
    background-image: url(/images/background_test.png);
	width: 100%;
    border-radius: 10px;
}

.nsi-img-div img{
    width: 150%;
    transform: translateY(-25%);
}

.emc-img-div{
    background-image: url(/images/background_vert.png);
	width: 100%;
    border-radius: 10px;
}

.emc-img-div img{
    width: 150%;
    transform: translateY(-25%);
}

.hist-img-div{
    background-image: url(/images/background_or.png);
    width: 100%;
    border-radius: 10px;
}

.hist-img-div img{
    width: 150%;
    transform: translateY(-25%);
}

.ens-img-div{
    background-image: url(/images/background_red.png);
    width: 100%;
    border-radius: 10px;
}

.ens-img-div img{
    width: 150%;
    transform: translateY(-25%);
}

.geo-img-div{
    background-image: url(/images/background_or.png);
    width: 100%;
    border-radius: 10px;
}

.geo-img-div img{
    width: 150%;
    transform: translateY(-25%);
}

.all-img-div{
    background-image: url(/images/background_vert.png);
    width: 100%;
    border-radius: 10px;
}

.all-img-div img{
    width: 150%;
    transform: translateY(-25%);
}

.philo-img-div{
    background-image: url(/images/background_test.png);
    width: 100%;
    border-radius: 10px;
}

.philo-img-div img{
    width: 150%;
    transform: translateY(-25%);
}

.MAE-img-div{
    background-image: url(/images/background_red.png);
    width: 100%;
    border-radius: 10px;
}

.MAE-img-div img{
    width: 150%;
    transform: translateY(-25%);
}

/* ======== text Container Styling general ======== */
.text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.5em;
    padding-top: 0.1em;
    padding-bottom: 1.2em;
    box-sizing: border-box;
}

.text-container .item-name,
.text-container .date{
    margin: -0.8em 0;
    text-align: center;
}
.text-container .item-name{
    font-size: 1.5em;
    font-weight: var(--title-font-weight);
}

/* ====== Hover effects ======= */
.card-div:hover .img-div img{
    transform: translateY(-25.5%) scale(1.2);
}

.card-div:hover{
    transform: translate(0, -10px);
}

.container .card-1 .text-container a {
  display: inline-block;
  padding: 10px 20px;
  background: #9ed32a;
  border-radius: 4px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 20px;
}

.container .card-1:hover .text-container a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}

.container .card-2 .text-container a {
  display: inline-block;
  padding: 10px 20px;
  background: #00d7fe;
  border-radius: 4px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 20px;
}

.container .card-2:hover .text-container a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}

.container .card-3 .text-container a {
  display: inline-block;
  padding: 10px 20px;
  background: #9ed32a;
  border-radius: 4px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 20px;
}

.container .card-3:hover .text-container a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}

.container .card-4 .text-container a {
  display: inline-block;
  padding: 10px 20px;
  background: #fea635;
  border-radius: 4px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 20px;
}

.container .card-4:hover .text-container a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}

.container .card-5 .text-container a {
  display: inline-block;
  padding: 10px 20px;
  background: #fe0042;
  border-radius: 4px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 20px;
}

.container .card-5:hover .text-container a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}

.container .card-6 .text-container a {
  display: inline-block;
  padding: 10px 20px;
  background: #fea635;
  border-radius: 4px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 20px;
}

.container .card-6:hover .text-container a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}

.container .card-7 .text-container a {
  display: inline-block;
  padding: 10px 20px;
  background: #9ed32a;
  border-radius: 4px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 20px;
}

.container .card-7:hover .text-container a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}

.container .card-8 .text-container a {
  display: inline-block;
  padding: 10px 20px;
  background: #00d7fe;
  border-radius: 4px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 20px;
}

.container .card-8:hover .text-container a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}

.container .card-9 .text-container a {
  display: inline-block;
  padding: 10px 20px;
  background: #fe0042;
  border-radius: 4px;
  margin-top: 30px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 20px;
}

.container .card-9:hover .text-container a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}
